{% extends 'base.html' %}

{% block content %}

<div class="p-5 col-12">
    <div class="container">
        <h1 class="text-center pb-5">Acerca de OnlyFlans</h1>
        <div class="row">
            <div class="col-md-10 mx-auto">
                <h5 class="text-center">Sobre nuestra PYME</h5>
<p style="text-align: justify;">
    Somos una pequeña empresa familiar creada en 2026, en la comuna de
    San Pedro de la Paz, nacida del amor por la repostería y el deseo de
    compartir con nuestra comunidad el sabor auténtico del flan casero
    de toda la vida. Todo comenzó en la cocina de nuestra casa, entre
    recetas heredadas de generación en generación y la convicción de que
    los mejores postres se hacen con tiempo, dedicación y cariño.<br><br>
    Nos dedicamos a la elaboración de flanes artesanales, utilizando
    únicamente ingredientes frescos y de primera calidad, sin conservantes
    ni procesos industriales que le quiten su esencia casera. Cada flan
    que sale de nuestra cocina lleva un pedacito de nuestra historia
    familiar, y buscamos que cada cliente sienta, en cada cucharada, ese
    mismo sabor a hogar que nos vio crecer.<br><br>
    Hoy, gracias a la confianza y el cariño de quienes nos han preferido
    desde el primer día, seguimos creciendo con la misma esencia con la
    que partimos: hacer las cosas bien, con productos de calidad y mucho
    amor por lo que hacemos.
</p>
            </div>
        </div>
    </div>


</div>

{% endblock %}